* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 30px;
}
body {
    font-family: "Euclid Circular A", sans-serif;
}


/* контакты */

.about_content{
    padding-top: 50px;
    display: flex;
}
.about_sidebar{
    width: 100%;
    max-width: 232px;
}
.about_sidebar_title{
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: #132C33;
    text-align: center;
    margin-bottom: 31px;
}
.about_sidebar_phones_1{
    display: flex;
    margin-bottom: 18px;
}
.about_sidebar_phones_1:last-child{
    margin-bottom: 22px;
}
.about_sidebar_phones_img{
    width: 18px;
    height: 18px;
    margin-right: 31px;
}
.about_sidebar_icon{
    display: flex;
}
.about_sidebar_icon_vk{
    padding: 9px 5px 9px 5px;
    background-color: #0077FF;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}
.about_sidebar_icon_tl{
    padding: 8px 6px 8px 6px;
    background-color: #419FD9;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}
.about_sidebar_icon_vk:hover, .about_sidebar_icon_tl:hover{
    background-color: #132C33;
}
.about_sidebar_icon_vk:active, .about_sidebar_icon_tl:active{
    background-color: #e79814;
}
.about_sidebar_icon a{
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
}
.about_sidebar_icon_link::after{
    content: '';
    display: block;
    border-bottom: 3px solid #000000;
    margin-top: 5px;
}
.about_sidebar_text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 20px;
}
.about_sidebar_subtitle{
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    color: #132C33;
    text-align: center;
    padding: 10px 3px 10px 3px;
    border: 1px solid #fbac1e;
    border-radius: 10px;
}

/* мальстрим */

.about_text{
    width: 100%;
    max-width: 957;
    margin-left: 114px;
}
.about_text_title{
    text-align: center;
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: #132C33;
    margin-bottom: 22px;
}
.about_text_desc{
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 23px;
    line-height: 39px;
    font-weight: 300;
    color: #333333;
}
.about_text_desc_p{
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 23px;
    line-height: 39px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 22px;
}
.about_text_img{
    width: 100%;
    max-width: 960px;
    display: block;
    margin: 0 auto;
}

/* Наши гиды */

.guides{
    display: flex;
    background-image: url('img/Фон.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1018px;
    align-items: end;
    margin-top: -450px;

}
.guides_svg_1{
    width: 100%;
    height: 200px;
    background-image: url('img/Фон\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -200px;
}
.guides_svg_2{
    position: relative;
    width: 100%;
    height: 40px;
    background-image: url('img/фон\ 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -40px;
}

.guides_title{
    text-align: center;
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: #132C33;
    padding-top: 66px;
    padding-bottom: 77px;
}
.guides_fon{
    background-color: #132C33;
    width: 100%;
    height: 315px;
    margin-top: -2px;
}
.guides_svg_5{
    width: 100%;
    height: 40px;
    background-image: url('img/фон\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.guides_block{
    display: flex;
    margin-bottom: -320px;
}
.guides_block_top{
    display: flex;
    margin-right: 25px;
}
.guides_block_bottom{
    display: flex;
}
.guides_instructor_fon{
    display: none;
}
.guides_instructor_name{
    text-align: center;
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 30px;
}
.guides_instructor_desc{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 15px 0 15px;
}


/* <!-- Наши заслуги --> */

.merits_title{
    text-align: center;
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: #132C33;
    padding-top: 70px;
    padding-bottom: 77px;
}
.merits_aside_top{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.merits_aside_bottom{
    display: flex;
    width: 100%;
    padding-bottom: 81px;
}
.merits_aside_wrap{
    width: 50%;
    gap: 30px;
    text-align: center;
}
.merits_aside_wrap_text{
    text-align: start;
    padding: 20px 15px 0 15px;
}
.merits_aside_wrap_text_black{
    text-align: start;
    padding: 20px 15px 0 15px;
}
.merits_aside_wrap_icon_black{
    padding-top: 10px;
    padding-bottom: 18px;
}
.merits_aside_wrap_text{
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
}
.merits_aside_wrap_text>a{
    color: rgba(0, 119, 255, 1);
    text-decoration: none;
}
.merits_aside_wrap_text_black>span{
    font-weight: bold;
}
.merits_aside_wrap_text_black{
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
}
.guides_svg_6{
    width: 100%;
    height: 20px;
    background-image: url('img/фон\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}






@media (max-width: 1300px){
    .about_sidebar{
        display: none;
    }
    .about_text{
        margin: 0;
    }
    .guides_block{
        display: block;
        margin: 0;
    }
    .guides{
        background-image: none;
        display: block;
        margin: 0;
        height: auto;
    }
    .guides_svg_1, .guides_svg_2, .guides_fon, .guides_svg_5{
        display: none;
    }
    .guides_instructor_name, .guides_instructor_desc{
        color: #000000;
    }
    .guides_instructor_name{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .guides_instructor_fon{
        display: block;
        width: 100%;
        max-width: 462px;
        margin-top: -8px;
    }
    .guides_instructor_img, .guides_instructor_name, .guides_instructor_desc{
        width: 100%;
        max-width: 462px;
    }
    .guides_block_top, .guides_block_bottom{
        justify-content: center;
    }
    .guides_block_top{
        margin-bottom: 30px;
        margin-right: 0;
    }
    .guides_instructor{
        margin-right: 10px;
        margin-left: 10px;
    }
    .guides_title{
        padding-bottom: 44px;
    }
    .merits_title{
        padding-top: 170px;
    }
    .merits_aside_top, .merits_aside_bottom{
        display: block;
        margin-bottom: 0;
    }
    .merits_aside_bottom{
        padding-bottom: 60px;
    }
    .merits_aside_wrap{
        width: 100%;
        margin: 0 auto 30px;
    }
    .merits_aside_wrap_text{
        text-align: center;
        padding-bottom: 16px;
    }
    .merits_aside_wrap_text_black{
        text-align: center;
        padding-bottom: 16px;
    }
}
@media (max-width: 850px){
    .merits_title{
        padding-top: 99px;
        padding-bottom: 43px;
    }
}
@media (max-width: 550px){
    .about_text_desc, .about_text_desc_p{
        font-size: 16px;
        line-height: 21px;
    }
    .guides_instructor_name{
        font-size: 20px;
    }
    .guides_instructor_desc{
        font-size: 16px;
        line-height: 16px;
        padding: 0;
    }
    .guides_instructor_name{
        margin-bottom: 8px;
    }
    .guides_title{
        padding-top: 33px;
        padding-bottom: 49px;
    }
    .merits_title{
        padding-top: 80px;
        padding-bottom: 43px;
    }
    .container{
        padding: 0 15px;
    }
    .merits_aside_wrap_text, .merits_aside_wrap_text_black{
        font-size: 16px;
        line-height: 18px;
    }
}