* {
    margin: 0;
    padding: 0;
    }

    .container_route_card {
      display: flex; /* Устанавливает элемент в режим гибкого контейнера */
      flex-direction: row; /* Устанавливает направление расположения дочерних элементов в строку */
      max-width: 520px; /* Ограничивает максимальную ширину элемента до 520 пикселей */
      max-height: 220px; /* Ограничивает максимальную высоту элемента до 220 пикселей */
      box-shadow: 0px 0px 16px #e8e8e8; /* Добавляет тень элементу */
      border-radius: 8px; /* Устанавливает радиус скругления углов элемента в 8 пикселей */
    }
    

    .route_card-img {
      display: flex; /* Устанавливает элементы внутри блока в виде горизонтального ряда */
      margin: 0; /* Устанавливает отступы по всем сторонам блока равными 0 */
      gap: 8px; /* Устанавливает промежуток между элементами внутри блока равным 8 пикселям */
    }
    

    .beautiful-views {
      width: 178px; /* Устанавливает ширину изображения равной 178 пикселям */
      height: 196px; /* Устанавливает высоту изображения равной 196 пикселям */
      padding: 12px; /* Устанавливает внутренний отступ вокруг изображения равным 12 пикселям */
    }
    

    .description-text {
      display: flex; /* Устанавливает элементы внутри блока в ряд */
      flex-direction: column; /* Устанавливает направление расположения элементов в столбец */
      padding-top: 12px; /* Устанавливает внутренний отступ сверху блока равным 12 пикселям */
      padding-left: 18px; /* Устанавливает внутренний отступ слева блока равным 18 пикселям */
    }
    

    .date-text {
      font-family: "Euclid Circular A", sans-serif; /* Устанавливает шрифт для текста */
      font-size: 18px; /* Устанавливает размер шрифта */
      font-weight: 500; /* Устанавливает насыщенность шрифта */
      line-height: 23px; /* Устанавливает высоту строки */
      letter-spacing: 0.02em; /* Устанавливает расстояние между буквами */
      text-align: left; /* Устанавливает выравнивание текста по левому краю */
    }
    
    .h4_card {
      font-family: "Euclid Circular A", sans-serif; /* Устанавливает шрифт для текста */
      font-size: 24px; /* Устанавливает размер шрифта */
      font-weight: 700; /* Устанавливает насыщенность шрифта */
      line-height: 30px; /* Устанавливает высоту строки */
      letter-spacing: 0.02em; /* Устанавливает расстояние между буквами */
    }
    
    .name-place {
      text-align: left; /* Устанавливает выравнивание текста по левому краю */
    }
    
    .description-place {
      font-family: Euclid Circular A; /* Устанавливает шрифт для текста в блоке */
      font-size: 18px; /* Устанавливает размер шрифта 18 пикселей */
      font-weight: 300; /* Устанавливает толщину шрифта 300 (легкий) */
      line-height: 23px; /* Устанавливает высоту строки 23 пикселя */
      letter-spacing: 0em; /* Устанавливает интервал между буквами 0 пикселей */
      text-align: left; /* Выравнивает текст по левому краю */
    }

    .main-block-buy {
      display: flex; /* Устанавливает блок в режиме flex */
      justify-content: space-between; /* Распределяет элементы внутри блока по горизонтали с равными промежутками между ними */
    }

    .price {
      font-family: Euclid Circular A; /* Задает шрифт для элемента */
      font-size: 18px; /* Задает размер шрифта */
      font-weight: 500; /* Задает насыщенность шрифта */
      line-height: 23px; /* Задает высоту строки текста */
      letter-spacing: 0.02em; /* Задает расстояние между буквами */
      text-align: left; /* Выравнивает текст по левому краю */
      margin-top: auto; /* Устанавливает автоматический отступ сверху */
      margin-bottom: 12px; /* Устанавливает отступ снизу */
    }
    

  .button_more {
    font-family: "Euclid Circular A", sans-serif; /* Задает шрифт для текста в кнопке */
    font-style: normal; /* Устанавливает обычный (не наклонный) стиль шрифта */
    font-weight: 400; /* Задает нормальную (обычную) насыщенность шрифта */
    font-size: 14px; /* Задает размер шрифта 14 пикселей */
    line-height: 5px; /* Задает высоту строки 5 пикселей */
    text-align: center; /* Выравнивает текст по центру кнопки */
    color: #ffffff; /* Задает белый цвет текста */
    font-weight: 700; /* Задает жирную насыщенность шрифта */
    font-size: 18px; /* Задает размер шрифта 18 пикселей */
    line-height: 23px; /* Задает высоту строки 23 пикселя */
    position: absolute; /* Устанавливает позиционирование кнопки как абсолютное */
    left: 372px; /* Устанавливает отступ кнопки от левого края родительского элемента равным 372 пикселям */
    top: 197px; /* Устанавливает отступ кнопки от верхнего края родительского элемента равным 197 пикселям */
    width: 130px; /* Задает ширину кнопки 130 пикселей */
    height: 43px; /* Задает высоту кнопки 43 пикселя */
    background: #fbac1e; /* Задает фоновый цвет кнопки как оранжевый */
    border-radius: 4px; /* Задает скругление углов кнопки радиусом 4 пикселя */
    border: 0; /* Убирает границу кнопки */
    box-shadow: 0px 0px 16px #E8E8E8; /* Создает тень блока с заданными параметрами */
    text-align: center; /* Выравнивает текст по центру кнопки */
    letter-spacing: 0.06em; /* Задает расстояние между символами 0.06em */
    cursor: pointer; /* Устанавливает курсор мыши в виде указателя при наведении на кнопку */
    transition: all 200ms; /* Добавляет плавный переход для всех свойств кнопки длительностью 200 миллисекунд */
    -webkit-transition: all 200ms; /* Добавляет плавный переход для всех свойств кнопки длительностью 200 миллисекунд (для поддержки браузеров WebKit) */
    -moz-transition: all 200ms; /* Добавляет плавный переход для всех свойств кнопки длительностью 200 миллисекунд (для поддержки браузеров Mozilla) */
    -o-transition: all 200ms; /* Добавляет плавный переход для всех свойств кнопки длительностью 200 миллисекунд (для поддержки браузеров Opera) */
     }

     .button_more:hover {
    background-color: #e79814; /* Задает цвет фона при наведении курсора */
     }
     .beautiful-views {
  
 
      transition: transform 0.3s ease; /* Задает переходный эффект для свойства transform с длительностью 0.3 секунды и с плавным изменением */
      }
      
      .beautiful-views:hover {
        
       
      transform: scale(1.15); /* При наведении курсора на элемент с классом beautiful-views применяется трансформация scale для увеличения размера изображения до 1.15 (15% больше исходного размера), создавая эффект масштабирования при наведении */
      }
      
      
      
      
      
      