* {
    margin: 0;
    padding: 0;
    }

.routes_list {
    display: flex;
    flex-direction: row;
    max-width: 520px;
    max-height: 220px;
    box-shadow: 0px 0px 16px #e8e8e8;
    border-radius: 8px;
  }

  .description-img {
    display: flex;
    margin: 0;
    gap: 8px;
  }

  .beautiful-views {
    width: 178px;
    height: 196px;
    padding: 12px;
  }

  .description-text {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-left: 18px;
  }

  .date-text {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .name-place {
     font-family: Euclid Circular A;
     font-size: 24px;
     font-weight: 700;
     line-height: 30px;
     letter-spacing: 0.02em;
     text-align: left;

  }

  .description-place {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
  }

  .main-block-buy {
    display: flex;
    justify-content: space-between;
  }

  .price {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: auto;
    margin-bottom: 12px; 
  }

  .main-block-btn {
    font-family: "Euclid Circular A", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 130px;
    height: 43px;
    background: #fbac1e;
    border-radius: 4px;
    left: 372px;
    top: 197px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
  }

  .main-block-btn:hover {
    background-color: #e79814;
  }